body{
    background-color: #f6f4f3;
    color: #020202;
    font-family: 'Roboto', sans-serif;
}

a:link, a:visited{
    text-decoration: none;
    color: #020202;
    background-color: #ffae03;
    display: inline-block;

    padding: 10px;

    /*border: 20px solid #e85d04;*/
}

a:hover, a:active{
    color: #020202;
    background-color: #f77f00;
}

table{
    width: 100%;
}

caption{
    font-size: 23px;
    line-height: 50px;
}

table, th, td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 5px 5px 5px 5px;
}

th{
    color: #f6f4f3;
    background-color: #020202;
}

tr:nth-child(even){
    background-color: #ffae03;
    padding: 5px;
    font-size: 15px;
}

tr:nth-child(odd){
    background-color: #f77f00;
}